<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>com.github.jvanheesch.HelloWorldServlet</servlet-class>
    </servlet>

    <!--http://localhost:8080/simple/helloWorld-->
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/helloWorld</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionInfo</servlet-name>
        <servlet-class>com.github.jvanheesch.SessionInfoServlet</servlet-class>
    </servlet>

    <!--http://localhost:8080/simple/sessionInfo-->
    <servlet-mapping>
        <servlet-name>SessionInfo</servlet-name>
        <url-pattern>/sessionInfo</url-pattern>
    </servlet-mapping>

    <!--Does not matter that this is declared below servlets-->
    <filter>
        <filter-name>ResponseLoggingFilter</filter-name>
        <filter-class>com.github.jvanheesch.ResponseLoggingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ResponseLoggingFilter</filter-name>
        <servlet-name>HelloWorld</servlet-name>
    </filter-mapping>
</web-app>